@page "/profile"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor ContextAccessor
@*@inject ClaimsPrincipal CurrentUser*@

<h3>aspnetcore-keycloak (blazor)</h3>

Profile...

<AuthorizeView Roles="admin, superuser">
    <p>hello admin or superuser.</p>
</AuthorizeView>

<AuthorizeView>
    <ul>
        <li>
            user: @ContextAccessor.HttpContext.User.Identity.Name
        </li>
        <li>
            user: @ContextAccessor.HttpContext.User.Identity.IsAuthenticated
        </li>
        <li>
            access_token: @ContextAccessor.HttpContext.GetTokenAsync("access_token").Result
        </li>
        <li>
            id_token: @ContextAccessor.HttpContext.GetTokenAsync("id_token").Result
        </li>
        <li>
            ====================== CLAIMS =============================================
        </li>
        @foreach (var claim in ContextAccessor.HttpContext.User.Claims)
        {
            <li>
                @claim.Type : @claim.Value
            </li>
        }
    </ul>
</AuthorizeView>

<button @onclick="@Log">Write user info to console</button>

<p>
    <a href="/">home</a><br />
</p>

@code {
    private async Task Log()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var user1 = ContextAccessor.HttpContext.User.Identity.Name;
            Console.WriteLine($"user '{user.Identity.Name}' is authenticated.");
        }
        else
        {
            Console.WriteLine("user is NOT authenticated.");
        }
    }
}